<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">

        <display-name>InsuranceProject</display-name>
        <welcome-file-list>
            <welcome-file>login.jsp</welcome-file>
        </welcome-file-list>
<!--        <servlet>-->
<!--            <display-name>ClaimRequest</display-name>-->
<!--            <servlet-name>ClaimRequest</servlet-name>-->
<!--            <servlet-class>claims.controller.ClaimRequest</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>ClaimRequest</servlet-name>-->
<!--            <url-pattern>/ClaimRequest</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>ClaimsList</display-name>-->
<!--            <servlet-name>ClaimsList</servlet-name>-->
<!--            <servlet-class>claims.controller.ClaimsList</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>ClaimsList</servlet-name>-->
<!--            <url-pattern>/ClaimsList</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>CreateClaim</display-name>-->
<!--            <servlet-name>CreateClaim</servlet-name>-->
<!--            <servlet-class>claims.controller.CreateClaim</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>CreateClaim</servlet-name>-->
<!--            <url-pattern>/CreateClaim</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>DeleteClaim</display-name>-->
<!--            <servlet-name>DeleteClaim</servlet-name>-->
<!--            <servlet-class>claims.controller.DeleteClaim</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>DeleteClaim</servlet-name>-->
<!--            <url-pattern>/DeleteClaim</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>UpdateClaim</display-name>-->
<!--            <servlet-name>UpdateClaim</servlet-name>-->
<!--            <servlet-class>claims.controller.UpdateClaim</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>UpdateClaim</servlet-name>-->
<!--            <url-pattern>/UpdateClaim</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>CreateProduct</display-name>-->
<!--            <servlet-name>CreateProduct</servlet-name>-->
<!--            <servlet-class>products.controller.CreateProduct</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>CreateProduct</servlet-name>-->
<!--            <url-pattern>/CreateProduct</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>DeleteProduct</display-name>-->
<!--            <servlet-name>DeleteProduct</servlet-name>-->
<!--            <servlet-class>products.controller.DeleteProduct</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>DeleteProduct</servlet-name>-->
<!--            <url-pattern>/DeleteProduct</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Products</display-name>-->
<!--            <servlet-name>Products</servlet-name>-->
<!--            <servlet-class>products.controller.Products</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Products</servlet-name>-->
<!--            <url-pattern>/Products</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Registration</display-name>-->
<!--            <servlet-name>Registration</servlet-name>-->
<!--            <servlet-class>registration.controller.Registration</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Registration</servlet-name>-->
<!--            <url-pattern>/Registration</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>RegistrationsList</display-name>-->
<!--            <servlet-name>RegistrationsList</servlet-name>-->
<!--            <servlet-class>registration.controller.RegistrationsList</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>RegistrationsList</servlet-name>-->
<!--            <url-pattern>/RegistrationsList</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Create</display-name>-->
<!--            <servlet-name>Create</servlet-name>-->
<!--            <servlet-class>users.contoller.Create</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Create</servlet-name>-->
<!--            <url-pattern>/Create</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Home</display-name>-->
<!--            <servlet-name>Home</servlet-name>-->
<!--            <servlet-class>users.contoller.Home</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Home</servlet-name>-->
<!--            <url-pattern>/Home</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Login</display-name>-->
<!--            <servlet-name>Login</servlet-name>-->
<!--            <servlet-class>users.contoller.Login</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Login</servlet-name>-->
<!--            <url-pattern>/Login</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>Logout</display-name>-->
<!--            <servlet-name>Logout</servlet-name>-->
<!--            <servlet-class>users.contoller.Logout</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>Logout</servlet-name>-->
<!--            <url-pattern>/Logout</url-pattern>-->
<!--        </servlet-mapping>-->
<!--        <servlet>-->
<!--            <display-name>UsersList</display-name>-->
<!--            <servlet-name>UsersList</servlet-name>-->
<!--            <servlet-class>users.contoller.UsersList</servlet-class>-->
<!--        </servlet>-->
<!--        <servlet-mapping>-->
<!--            <servlet-name>UsersList</servlet-name>-->
<!--            <url-pattern>/UsersList</url-pattern>-->
<!--        </servlet-mapping>-->
</web-app>